[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
pandas = "*"
category-encoders = "*"
eli5 = "*"
pandas-profiling = "*"
pdpbox = "*"
plotly = "*"

[requires]
python_version = "3.8"
